body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.teal-color{
    color: teal;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( skyblue,teal);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}