body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: gray;

}
.teal-color{
    color: teal;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    height: auto;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    
    }
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( skyblue,teal);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-left: 20%;
    padding-right: 20%;
    
    
}
h2{
    color: gray;
    font-size: 30px;
}


 .recipe-item{
    box-shadow: 10px 10px 40px gray;
    width: 30%;
    padding-left: 10px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;

} 
.recipe-item img {
    height: 250px;
    width: 300px;
    margin-top: 5%;
    margin-left: 7%;
}

.box-item{
    box-shadow: 10px 10px 40px gray;
    width: 80%;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}
.exposure_us{
    height: 300px;
    width: 90%;
    margin-bottom: 50px;
    padding: 5%;
}
.text{
    text-align: center;
    color: gray;
}
form{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
input{
    margin: 10px;
    padding: 5px;
}
footer h2{
    text-align: center;
    padding-top: 50px;
}
footer p{
    text-align: center;
    color: white;
    padding-bottom: 5%;
}
.footer-background{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}
.text{
    text-align: center;
}

